.App {
  text-align: center;
  padding: 5%;
  
}

.App-logo {
  height: 10vmin;
  
}


.App-link {
  height: 35vmin;
  margin-top: 8%;
}

.tabla{
  text-align: center;
  display: inline-flex;
  padding: 0% 2%;
  font-size: 100%;
  margin-right: 8%;
  
}

.texto{
  text-align: center;
  font-size: 7vmin;
}

.texto2{
  text-align: center;
  font-size: 4.5vmin;
}

.imagen{
  height: 35vmin;
  width: 70vmin;
}